<html lang='pt-BR'>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <title>Bem-vindo</title>
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                background-color: #f4f4f4;
                padding: 20px;
            }
            .container {
                max-width: 600px;
                margin: auto;
                background: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }
            .button {
                display: inline-block;
                padding: 12px 20px;
                background-color: rgb(255, 35, 53);
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-size: 16px;
            }
            .footer {
                font-size: 12px;
                color: #777;
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class='container'>
            <h2>Bem-vindo, {{data.firstName}} {{data.lastName}}! 🎉</h2>
            <p>Obrigado por se registrar! Estamos felizes por ter você conosco.</p>
            <p>Para concluir seu cadastro, por favor verifique seu e-mail clicando no botão abaixo:</p>

             <a class='button' href='{{data.emailVerificationLink}}'>
                Verificar e-mail
            </a> 

            <p class='footer'>Se você não criou esta conta, ignore este e-mail.</p>
        </div>
    </body>
</html>
